body{
  width: 100wh;
  height: 100vh;
  background-color: #f1f1f1;
  color: #333;
  font-family: Roboto, "Helvetica Neue";
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  width: 80%;
  max-width: 600px;
  padding: 2rem;
  background-color: aquamarine;
  border-radius: 8px;
  border: 1px solid aquamarine ;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

input[type=text], button {
  font-family: Roboto, "Helvetica Neue";
  color: #333;
  font-size: 18px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  padding: 8px 8px;
}

.formContainer{
  width: 80%;
  max-width: 400px;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 0.1rem;
}

.listContainer{
  width: 80%;
  max-width: 400px;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.listContainer .task{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 60% 1fr 1fr;
  grid-gap: 1rem;
}

.listContainer .task input {
  width: 18px;
  height: 18px;
}

.listContainer .task .editing {
  grid-template-columns: auto auto;
  grid-gap: 1rem;
}

.listContainer .task .editing input {
  width: 70%;
  padding: 3px;
  font-size: 14px;
}

.listContainer .task .editing button {
  padding: 3px;
  font-size: 14px;
}

.listContainer .task img {
  width: 20px;
}

.formContainer button, .listContainer .task img, .listContainer .task button {
  cursor: pointer;
}

.formContainer button:active, .listContainer .task img:active {
  transform: scale(0.98);
}